<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<body>

<header class="header" th:fragment="header">

    <div class="logo">
        <img th:src="@{/images/img5.png}" alt="Logo">
    </div>

    <nav class="navbar">
        <a th:href="@{/}">Trang Chủ</a>
        <a th:href="@{/map}">Bản đồ</a>
        <a th:href="@{/match}">Ghép đôi</a>
        <a th:href="@{/profile}">Bạn</a>
    </nav>

    <button class="top-btn">
        Đăng Ký
    </button>

</header>

</body>
</html>